PyQt5
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
transformers
sentence-transformers
faiss-cpu
beautifulsoup4
torch
accelerate
lxml
protobuf
sentencepiece
huggingface_hub
markdown
docutils